


.btn {
    background-color: transparent;
    padding: 0.5em;
    margin: 1.5em;
    outline-style: none;
    border: 1px solid;
      //border-radius: 4px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: Grey;
     transition: background-color 0.2s ease-in;

    &:hover {
        margin: 0;
        padding: 2;
        border: none;
        cursor: pointer;
    }
}

.btn:disabled {
    border-color: Grey;
    color: grey;
    cursor: default;

    &:hover {
        cursor: default;
        color: grey;
        background-color: transparent;
        border: 1px solid;
    }
}

.primary {
    border-color: rgb(255, 208, 0);
    color: rgb(255, 208, 0);

    &:hover {
        color: white;
        background-color: yellow;
      
    }
}